:root {
    --grey-hover: #595959;
    --grey-card-bg: #313131;
    --grey-container-bg: #212121;
    --grey-global-bg: #181818;
  }
  
  #root {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  html {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
  }

  body {
    margin: 0;
    padding: 0;
  }